spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/sbproject1
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: 'true'
    hibernate:
    ddl-auto: update
server:
  port: 9090